$text-color: rgb(243, 240, 240);

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(44, 44, 44);
}

.separator {
    height: 150px;
}

.topbar {
    z-index: 2;
    display: inline-block;
    position: fixed;
    background-color: $text-color;
    height: 35px;
    width: 100%;

    .topbar-nav {
        margin-top: 5px;
        text-align: center;

        .topbar-nav-items {
            margin-right: 25px;
            display: inline-block;
            font-size: 18px;
            color: black;
            text-decoration: none;

            &:hover, &:active {
                color: rgb(248, 248, 248);
            }
        }
    }
}

.font-img {
    z-index: auto;
    position: fixed;
}

.content {
    z-index: 2;
    color: $text-color;
    margin-top: 300px;
}

.info {
    display: flex;
    flex-direction: row;
    z-index: 2;
    width:  80%;
    height: auto;
    margin: 0 10px;

    .content-info {
        z-index: 2;
        font-size: 20px;
        color: $text-color;
        border-radius: 0.5rem;
        border: inset;
        border-width: 3px;
        border-color: aqua;
        margin-left: 270px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.button-content {
    position: relative;
    text-align: center;

    .button {
        z-index: 1;
        padding: 10px 10px;
        color: black;
        border-color: aqua;
        font-size: 20px;
        text-decoration: none;
        border: inset;
        border-width: 8px;
        border-radius: 0.5rem;
        border-left-color: rgb(120, 175, 221);
        border-top-color: rgb(145, 195, 236);
        border-right-color: rgb(88, 147, 196);
        border-bottom-color: rgb(53, 112, 160);
        background-color: rgb(143, 224, 235);

        &:hover, &:active {
            border-left-color: rgb(120, 175, 221);
            border-top-color: rgb(145, 195, 236);
            border-right-color: rgb(88, 147, 196);
            border-bottom-color: rgb(53, 112, 160);
            background-color: rgb(36, 35, 35);
            color: white;
            transition: color .25s;
            transition: background-color .25s;
        }
    }
}

footer {
    z-index: 2;
    position: relative;
    text-align: center;
    background-color: black;
    color: $text-color;
    font-size: 16px;
    height: 24px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: "Segoe UI", Georgia, Serif;
}